<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="baidu-site-verification" content="y5f9xphqZ8" />
	<meta charset="UTF-8">
	<meta content="陆利舟,lulizhou,llz,简历,陆利舟的简历,陆利舟是谁" name="keywords">
	<meta content="这是陆利舟的简历" name="description">
	<title>我的简历</title>
	<link rel="shortcut icon" href=" img/favicon.ico" />
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/resume/reset.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/resume/main.css')}}">
	<script src="{{url_for('static',filename='js/resume/progressbar.min.js')}}"></script>
	<script src="{{url_for('static',filename='js/resume/app.js')}}"></script>
</head>
<body>
	<div id="menu">
	<div class="logo"><a href="javascript:;">Resume</a></div>
	<ul class="clear_fix">
	<li><a href="javascript:;">个人简介</a></li>
	<li><a href="javascript:;">专业技能</a></li>
	<li><a href="javascript:;">部分作品</a></li>
	<li><a href="javascript:;">联系邮箱</a></li>
	</ul>
	</div>
	<section class="banner">
		<span class="photo"></span>
		<h3 class="name">陆利舟</h3>
		<h4 class="job">web前端工程师(实习16级)</h4>
		<div class="download"><a href="doc/前端工程师（实习）_陆利舟_浙江大学宁波理工学院_15726816341.doc">下载我的简历</a></div>
		<div class="scroll" id="page1"><i></i></div>
	</section>
	<section class="about">
		<h2>个人简介</h2>
		<ul class="logo">
			<li class="github link "><a href="http://expelliarmus923.github.io/">github</a></li>
			<li class="blog link"><a href="https://github.com/Expelliarmus923">个人博客</a></li>
		</ul>
		<div class="intro clear_fix">
			<ul class="brief">
				<li><span>姓名</span>&nbsp;&nbsp;|&nbsp;&nbsp;陆利舟</li>
				<li><span>手机</span>&nbsp;&nbsp;|&nbsp;&nbsp;<script>document.write(
				"ada1sd5wa7sadxfd2a6/8adawei1i6i3i4i1".replace(/\D/g,"") );</script></li>
				<li><span>邮箱</span>&nbsp;&nbsp;|&nbsp;&nbsp;<script>document.write(['com','yahoo','lulizhouloves'].reverse().join('.').replace('.','@'))</script></li>
				<li><span>所在地</span>&nbsp;&nbsp;|&nbsp;&nbsp;浙江——宁波</li>
				<li><span>Github</span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="http://expelliarmus923.github.io/">点击进入</a></li>
				<li><span>Blog</span>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://github.com/Expelliarmus923">点击进入</a></li>
			</ul>
			<div class="dr">
				<p>我是一个做事认真，性格随和的人。<br />
				我热衷于钻研各种新鲜技术，紧跟时代潮流。<br />
				我有时间观念，能在约定时间内完成任务。<br />
				我喜欢Javascript的简洁，看到第一眼就被它深深地迷上了。</p>
				<p>有半年前端学习开发经验，熟悉 HTML、CSS、Javascript，能熟练开发符合 W3C 标准的页面，熟悉原生的javascript，能够使用原生javascript编写常见的网页交互效果。对服务器端开发有一定了解，能够配合程序员完成相关工作。</p>
			</div>
		</div>
		<div class="scroll" id="page2"><i></i></div>
	</section>
	<section class="skill">
		<h2>专业技能</h2>
		<div class="cirle" id="cirle">
		<div class="example-container" id="html"><p class="progressbar-text"></p><p class="text">HTML</p></div>
		<div class="example-container" id="css"><p class="progressbar-text"></p><p class="text">CSS</p></div>
		<div class="example-container" id="js"><p class="progressbar-text"></p><p class="text">JavaScript</p></div>
		<div class="example-container" id="photoshop"><p class="progressbar-text"></p><p class="text">PhotoShop</p></div>
		</div>
		<div class="scroll" id="page3"><i></i></div>
	</section>
	<section class="work">
	<h2>部分作品</h2>
	<div class="webDesign clear_fix" id="webDesign">
		<ul>
			<li><a href="Demo/JD/index.html"><span>JD</span></a></li>
			<li><a href="Demo/sina/sinaswitchtab.html"><span>sina</span></a></li>
			<li><a href="http://sandbox.runjs.cn/show/dnjazibg"><span>固定</span></a></li>
			<li><a href="Demo/MyNav/index.html"><span>nav</span></a></li>
			<li><a href="http://sandbox.runjs.cn/show/i9tyxkbe"><span>转盘</span></a></li>
			<li><a href="http://sandbox.runjs.cn/show/wwxbd9yz"><span>baidu</span></a></li>
			<li><a href="http://sandbox.runjs.cn/show/gdszjudx"><span>拖拽</span></a></li>
			<li><a href="http://sandbox.runjs.cn/show/pvhq24ov"><span>微博</span></a></li>
			<li><a href="Demo/other/waterfall/index.html"><span>瀑布</span></a></li>
			<li><a href="Demo/other/index.html"><span>无缝</span></a></li>
			<li><a href="Demo/other/switch/index.html"><span>轮播</span></a></li>
			<li><a href="Demo/other/switch/index2.html"><span>微信</span></a></li>
			<li><a href=""><span>css</span></a></li>
			<li><a href="Demo/other/index2.html"><span>顶部</span></a></li>

		</ul>
	</div>
	<div class="scroll " id="page4"><i></i></div>
	</section>
	<section class="contact bottom" id="page5">
	<h1>快把我招到碗里来吧！</h1>
	<h3><script>document.write(['com','yahoo','lulizhouloves'].reverse().join('.').replace('.','@'))</script></h3>
	<div class="scroll"><i></i></div>
	</section>
</body>
</html>