{% if posts %}
{% for post in posts %}
<div class="content">
            <div class="content-time"><span>{{ moment(post.timestamp).format('LL') }}</span></div>
            <div class="content-title"><a href="{{ url_for('main.post',id=post.id) }}">{{ post.title }}</a>
             <span>标签：
                 {% for tag in post.getTagByArry() %}
                 <a href="{{url_for('main.tag_name',tag_name=tag)}}">{{tag}}</a>
                    {% endfor %}
             </span></div>
            <div class="content-body"><p>{{ post.body_slug|safe}}</p></div>
            <div class="content-btn"><a class="btn" href="{{ url_for('main.post',id=post.id) }}">--剩余部分--</a></div>
</div>
{% endfor %}
{% else %}
<div class="content">
    <div class="content-title">
        <a class="fzf" href="/">这里什么都没有！╮(╯-╰)╭</a>
    </div>
</div>
{% endif %}