{% block doc -%}
<!DOCTYPE html>
<html>
{%- block html %}
<head>
    {%- block metas %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- endblock metas %}
   <title>{% block title %}Don't Panic{% endblock title %}</title>
     {%- block styles %}
    <link rel="shortcut icon" href=" {{url_for('static',filename='img/favicon.ico')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}" />
   <!--<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" />-->
 <link rel="stylesheet/less" href="{{url_for('static',filename='css/index.less ')}}"/>
     {%- endblock styles %}
    {%- block script %}
   <script src="{{url_for('static',filename='js/less.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-2.1.4.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/hammer.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/moment-with-locales.min.js')}}"></script>
    {%- endblock script %}
</head>
<body>
<div class="container">
    <div id="do-not-panic">

        {% block navbar %}
        {% set navigation_bar = [('/', 'index', '主页'),
                                 ('/archives', 'archives', '分类'),
                                 ('/about', 'about', '关于')
                                ] -%}
        {% set active_page = active_page|default('index') -%}
        <header>
        <div class="title">
            <h1>Don't be evil<br><small>让我们红尘做伴吃的白白胖胖</small></h1>
        </div>
            <nav id="nav">
                {% for href, id, caption in navigation_bar %}
                <a {% if id == active_page %} class="current btn-default"
                {% endif%} href="{{ href|e }}" class="btn-default">
                    {{ caption|e }}
                </a>
                 {% endfor %}
            </nav>
        </header>

        {% endblock %}
        {% block error_page%}
        {%  endblock %}
        {% block page_content %}
        {% endblock %}
    </div>
    <footer id="foot-index" class="clearfix">
    <div class="foot"><p>Powered by <a href="http://flask.pocoo.org/">Flask</a> </p></div>
    </footer>
</div>

{% block scripts %}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
{% endblock %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}