{% extends "blog/base.html" %}
{% block title %}Don't Panic||{{post.title}}{% endblock %}

{% block page_content %}
 <div class="content">
            <div class="content-title center"><a href="#">{{ post.title }}</a></div>
             <div class="content-time center">
                 <span>发布于{{ moment(post.timestamp).format('LLL') }}</span>
             <span>分类于
                 {% for tag in post.getTagByArry() %}
                 <a href="{{url_for('main.tag_name',tag_name=tag)}}">{{tag}}</a>
                    {% endfor %}
             </span></div>
            <div class="content-body"><p>{{ post.body_html |safe}}</p></div>
        </div>
<div class="showbtn clearfix"><span class="btn-default">评论</span></div>
{% block comment%}
 {% include 'blog/duoshuo.html' %}
{% endblock %}
 <script src="{{url_for('static',filename='js/app4animate.js')}}"></script>
{% endblock %}
