@google-green-color:#31aa52;
@google-red-color:#f8c712;
@google-bule-color:#4286f7;

@theme-color:@google-green-color;
@theme-title:@google-green-color;
@theme-date: #999;
@theme-content:#444;
@theme-link:#fff;

@theme-content-width:750px;
@theme-side-bar:200px;


