<div class="container-small col-md-10 col-md-offset-1">
{% for post in posts %}
<div class="jumbotron row wow animated pulse">
    <div class="posttitle clearfix ">
        <div class="col-md-6">
        <h4><a href="{{ url_for('.post',id=post.id)}}"> {{ post.title}}</a></h4>
            </div>
    <div class="author-info col-md-6">
        <span class="glyphicon glyphicon-user"></span>
        <span class="author">{{ post.author.username }}</span>
        <span class="glyphicon glyphicon-time"></span>
        <span class="time">{{ moment(post.last_modified).fromNow() }}</span>
    </div>
    </div>
        <div class="clearfix col-md-12">
    <p>  {% if post.body_slug %}
        {{ post.body_slug | safe}}
        {% else %}
        {{ post.body }}
        {% endif %}
        </p>
        </div>
    <div class="col-md-6" style="margin-bottom: 10px">
         <a href="{{ url_for('.post',id=post.id)}}" class="btn btn-success btn-lg btn-block">查看全文</a>
    </div>
     {% if current_user.is_authenticated()%}
    <div class="col-md-12">
        <div class="col-md-3">
            <a href="{{ url_for('.edit',id=post.id)}}" class="btn btn-success btn-lg btn-block">编辑</a>
        </div>
    <div class="col-md-3">
        <a href="{{ url_for('.delete') }}?id={{ post.id }}" class="btn btn-danger btn-lg btn-block">删除</a>
    </div>
        </div>
    {% endif %}
</div>
{% endfor %}
</div>
