{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="form-inint flask-login" style="padding: 10px">
    <form method="POST" class="form-group">
    {{ form.hidden_tag() }}
    <h5 class="demo-panel-title">标题:</h5>{{ form.title(class='form-control')}}
    <h5 class="demo-panel-title">标签：</h5>  {{ form.tag(class='tagsinput')}}
    <h5 class="demo-panel-title">正文：</h5>  {{ form.body(class='form-control')}}
        {{ form.submit(class='btn btn-info btn-block') }}

    </form>
    </div>
{% endblock %}