{% extends "bootstrap/base.html" %}

{% block title %}Flasky{% endblock %}

{% block navbar %}
    <div class="navbar navbar-default  animated bounceInDown" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
          </button>
          <a class="navbar-brand animated" href="#" id="navbar-brand">Don't Panic</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">首页</a></li>
            <li><a href="{{ url_for('.sortout') }}">归类</a></li>
            <li><a href="/">联系我</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
         {% if current_user.is_authenticated() %}
                 <li class="active"><a class="btn btn-default navbar-btn" href="{{ url_for('auth.logout') }}">登出</a> </li>
                 {% else %}
                 <li class="active"><a class="btn btn-default navbar-btn" href="{{ url_for('auth.login') }}">登录</a></li>
                 {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

{% endblock %}
{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
            </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.lang("zh-CN") }}
{% endblock %}
