{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}Flasky{% endblock %}

{% block page_content %}
{% if current_user.can(Permission.WRITE_ARTICLES) %}
<div class="container" style="margin: 20px 0">
    <a href="{{ url_for('.add_post')}}" class="btn btn-danger btn-lg btn-block">发布新的</a>
</div>
{% endif %}

{% include '_posts.html' %}
{% if pagination %}
<div class="container" style="text-align: center">
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.index') }}
</div>
    </div>
{% endif %}
{% endblock %}
