{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="container-small col-md-10 col-md-offset-1">
<div class="jumbotron row animated swing">
    <div class="posttitle clearfix">
        <div class="col-md-12">
        <h4>{{ post.title}}</h4>
            </div>
    <div class="author-info col-md-12">
        <span class="author">作者：{{ post.author.username }}</span>
        <span class="time">发布于：{{ moment(post.timestamp).format('LLL') }}</span>
        <span class="time">上次编辑：{{ moment(post.last_modified).format('LLL') }}</span>
    </div>
    </div>
        <div class="clearfix col-md-12">
    <p>  {% if post.body_html %}
        {{ post.body_html | safe}}
        {% else %}
        {{ post.body }}
        {% endif %}
        </p>
        </div>
</div>
</div>
{% endblock %}
